@import 'variables';

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color: $black;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.wrapper {
	margin: 0 auto;
	padding: 0 15px;
}

h2{
	margin-bottom: 30px;
	text-align: center;
	padding: 0 15px;
}

h3{
	text-align: center;
}

.logo{
	font-weight: 700;
	text-transform: uppercase;
}